/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --color-grey-500: #4d4f62;
  --color-grey-400: #6a6178;
  --color-white: #ffffff;
  --color-red: #ea5454;
  --color-cyan: #44d3d2;
  --color-blue: #549ef2;
  --color-orange: #fcae4a;

  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-900: 72px;
  --spacing-1600: 128px;

  --font-main: "Poppins", sans-serif;

  --card-box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
}

.text-preset-1 {
  font-family: var(--font-main);
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 0.25px;
  font-weight: 600;
}

.text-preset-2 {
  font-family: var(--font-main);
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 0.25px;
  font-weight: 200;
}

.text-preset-3 {
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-family: var(--font-main);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0px;
}

.text-preset-5 {
  font-family: var(--font-main);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0px;
}
