.bookmark {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 32.5px;
    width: 174px;
    background-color: var(--color-gray-200);
    align-items: center;
    color: var(--color-gray-500);
    cursor: pointer;

    @media screen and (max-width: 768px) {
        display: none;
    }

    img {
        position: relative;
        inset-inline-end: 5px;
    }

    p {
        margin-inline-start: 8px;
    }
}

.bookmark:hover {
    background-color: var(--color-gray-300);
}

.bookmark.bookmark--bookmarked {
    background-color: var(--color-green-400);
    color: var(--color-white);
    width: 190px;
}

.bookmark.bookmark--bookmarked:hover {
    color: var(--color-white);
}
