.header {
    width: 100vw;

    .header__image {
        width: 100vw;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .header__imageMobile {
        width: 100%;
        height: 300px;
        object-fit: cover;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .header__navbar {
        width: 100%;
        position: absolute;
        top: var(--spacing-600);

        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}
