.authIndex__wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 5fr 7fr;
  background: var(--color-beige-100);

  @media screen and (min-width: 1520px) {
    grid-template-columns: 5fr 7fr;
  }

  @media screen and (max-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .authIndex__image {
    height: 100vh;
    padding: var(--spacing-250);
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 992px) {
      display: none;
    }

    .authIndex__main {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 12px;
      object-position: 50% 60%;
    }

    .authIndex__logo {
      position: absolute;
      inset-block-start: var(--spacing-750);
      inset-inline-start: var(--spacing-750);
    }

    .authIndex__text {
      position: absolute;
      inset-block-end: var(--spacing-750);
      inset-inline-start: var(--spacing-750);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-300);
      max-width: calc(100% - (var(--spacing-750) * 2));
      .authIndex__heading {
        color: var(--color-white);
      }

      .authIndex__subHeading {
        color: var(--color-white);
        letter-spacing: -0.5px;
      }
    }
  }

  .authIndex__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.authIndex__headerBar {
  display: none;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100vw;
  border-end-end-radius: var(--spacing-100);
  border-end-start-radius: var(--spacing-100);
  background-color: var(--color-grey-900);
  height: 70px;

  @media screen and (max-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
