.button {
    display: flex;
    width: 157px;
    height: 48px;
    border-radius: 33.5px;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-green-700);
}

.button--green {
    background-color: var(--color-green-400);
    color: var(--color-white);
}

.button--black {
    background-color: var(--color-gray-400);
    color: var(--color-white);
}

.button--small {
    width: 157px;
    height: 48px;
}
